<!-- As a link -->
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">MyMessages</a>
  <div class="mr-right">
    <a class="navbar-item" routerLink="/" routerLinkActive="active" *ngIf="userisAuthenticated">List</a> &nbsp;
    <a class="navbar-item" routerLink="/create" routerLinkActive="active" *ngIf="userisAuthenticated">Create</a> &nbsp;
    <a class="navbar-item" routerLink="/login" routerLinkActive="active" *ngIf="!userisAuthenticated">Login</a> &nbsp;
    <a class="navbar-item" routerLink="/signup" routerLinkActive="active" *ngIf="!userisAuthenticated">Signup</a>
    <button class="navbar-item" (click)="onLogout()" *ngIf="userisAuthenticated">Logout</button>
  </div>
</nav> -->

<div class="main-nav">
  <ul>
    <li>
      <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <span class="nav-icon">
            <i class="fas fa-user-tie"></i>
        </span>
        About Me
      </a>
    </li>
    <li>
      <a routerLink='/blog' routerLinkActive="active">
        <span class="nav-icon">
            <i class="fas fa-globe-asia"></i>
        </span>
        Blog
      </a>
    </li>
    <li>
      <a routerLink='/resume' routerLinkActive="active">
        <span class="nav-icon">
          <i class="far fa-file"></i>
        </span>
        Resume
      </a>
    </li>
    <li>
      <a routerLink='/contact' routerLinkActive="active">
        <span class="nav-icon">
            <i class="far fa-envelope"></i>
        </span>
        Contact
      </a>
    </li>
    <li>
      <a routerLink='/quiz' routerLinkActive="active">
        <span class="nav-icon">
            <i class="fas fa-question"></i>
        </span>
        Quiz
      </a>
    </li>
    <li *ngIf="userisAuthenticated">
      <a (click)="onLogout()">
        <span class="nav-icon">
          <i class="fas fa-sign-out-alt"></i>
        </span>
        Logout
      </a>
    </li>
    <li>
      <a (click)="openMenuEmit()">
        <span class="nav-icon">
          <i class="fas fa-bars"></i>
        </span>
        Menu
      </a>
    </li>
  </ul>
</div>