.post-display {
  display: block;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.post-display > img {
  max-width: 100%;
  width: 100%;
}

.post-display .post-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 20px;
  padding: 15px;
}

.post-content {
  display: block;
  margin-top: 25px;
}
