<h1>Hi! I'm Gopal Joshi</h1>

<p>
    A Front-end developer with over 9 years of experiences in a wide range of disciplines. Currently shaping the digital user experience at Gatewaytechnolabs.
</p>

<p>
    My journey as a UI/UX designer started after graduation for Digital communication, design and media.This has helped me to widen my range of knowledge and gather experiences through various disciplines, such as front-end development, HTML development, javascript, HTML-javascript animations and many more. Fast forward few years, I’m now focusing on font-end development using angular, node, express, javascript, jquery, typescript, html, css and sass. I also do UI/UX design for web and mobile application.
</p>

<p>
    I have also done angular, node, express, mondodb and typescript certification from Udemy.
</p>
<p>
    My work is something I do with lot of honesty, appetite and commitment. Over the past years I had the opportunity to drive and do hands-on work for some amazing brands from all over the world. I also got opportunity to travel onsite and explore some countries like Oman and Sweden.
</p>
<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-12">
        <h4>Experience summary</h4>
        <hr>
        <div *ngFor="let exp of experienceSummary;let i = index">
        <div class="card fadeInDown" [ngStyle]="{'animation-delay': (i / 2) + 's'}">
          <div class="card-body">
            {{ exp }}
          </div>
        </div>
      </div>
    </div>
</div>
