<span class="spinner" *ngIf="isLoading"><img src="../assets/images/35.gif" /></span>
<div class="container" *ngIf="posts.length > 0 && !isLoading">
  <div class="row" *ngIf="userIsAuthenticated">
    <div class="col-sm-12 text-right"><button class="btn btn-success" routerLink="/create"><i class="fas fa-plus"></i> Add blog</button></div>
  </div>
  <div class="row">
    <div class="col-sm-4 mt-3" *ngFor="let post of posts">
      <div class="card">
        <img [src]="post.imagePath" class="card-img-top" [alt]="post.title" />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <!-- <p class="card-text" [innerHtml]="post.content">{{ post.content | slice:0:90 }} <span *ngIf="post.content.length > 30">...</span></p> -->
          <p class="card-text" [innerHtml]="post.content"></p>
          <a [routerLink]="['/post', post.id]">Read more</a>
          <a class="btn btn-primary" [routerLink]="['/edit', post.id]" *ngIf="userIsAuthenticated && userId === post.creator">Edit</a>&nbsp;
          <button class="btn btn-danger" (click)="onDelete(post.id)" *ngIf="userIsAuthenticated && userId === post.creator">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-8">
        <pagination [totalItems]="totalPosts" [itemsPerPage]="postPerPage" [rotate]="rotate" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" [maxSize]="5"></pagination>
    </div>
    <div class="col-sm-4 text-right">{{ numberOfPosts * currentPage }} of {{ totalPosts }}</div>
  </div>
</div>
<div class="container" *ngIf="posts.length <= 0 && !isLoading">
  <div class="row">
    <div class="col-sm-12">
        <div class="alert alert-secondary">
            No post yet !
        </div>
    </div>
  </div>
</div>
