<span class="spinner" *ngIf="isLoading"><img src="../assets/images/35.gif" /></span>
<div class="container mt-5" *ngIf="!isLoading">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
              <h5 class="card-title">User login</h5>
              <p class="card-text"><input type="email" name="email" ngModel #emailInput="ngModel" class="form-control" placeholder="Email" required email /></p>
              <p class="card-text"><input type="password" name="password" ngModel #passwordInput="ngModel" class="form-control" placeholder="Password" required /></p>
              <button type="submit" class="card-link">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
