<div class="sidebar-left animated" [ngClass]="{'slideOutLeft': !mobile, 'slideInLeft': mobile}">
    <div class="profile-img">
      <img src="./assets/images/logo.png" alt="">
    </div>
    <div class="user-info">
      <div class="personal-info">
          <span class="user-name">Gopal Joshi</span>
          <span class="user-post">Sr. Front-End Developer</span>
      </div>
      <div class="user-social-media">
          <ul>
              <li>
                  <a href="https://www.facebook.com/gopal.joshi.5477" target="blank">
                      <i class="fab fa-facebook-square"></i>
                  </a>
              </li>
              <li>
                  <a href="https://wa.me/919974622377" target="blank">
                      <i class="fab fa-whatsapp"></i>
                  </a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/in/gopal-joshi-963420109/" target="blank">
                      <i class="fab fa-linkedin"></i>
                  </a>
              </li>
          </ul>
      </div>
      <hr>
      <div class="contact-info">
          <ul>
              <li>
                  <span style="margin-left: 3px;"><i class="fas fa-mobile-alt"></i></span> &nbsp; 7990942098
              </li>
              <li>
                  <span><i class="far fa-envelope"></i></span> &nbsp; gopaljsh98@gmail.com
              </li>
          </ul>
      </div>
      <hr>
      <div class="d-block">
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">HTML</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">css</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">SASS</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Javascript</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Jquery</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Angular</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Node</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Express</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">MongoDB</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Typescript</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Wordpress</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Gulp</span></h5>
        <h5 class="d-inline-block mr-1"><span class="badge badge-light">Github</span></h5>
      </div>
    </div>
  </div>