body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/* You can add global styles to this file, and also import other style files */
.spinner {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 20%;
  left: calc(50% - 36px);
  z-index: 1;
}